body{
    font-family: 'Merriweather', serif;
}
#font-color{
    color: teal;
    font-size: 60px;
    font-weight: bold;
}
#font-color2{
    color: darkslategray;
    font-size: 35px;
}
#font-color3{
    color: teal;
}
#font-color4{
    color: darkslategrey;
    font-size: 20px;
    font-weight: bold;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    padding-top: 6%;
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 40px;    
}
h3{
    text-align: center;
}
h5{
    font-size: 35px;
    color: whitesmoke;
    margin-left: 15%;
    
    float: left;
}
h6{
    font-size: 15px;
}
.bg-one{
    background-color: lightpink;
    height: 300px;
}
.bg-two{
    background-color:blue ;
 
    margin-left: 20%;
    width: 65%;
    height: 20%;
    border-radius: 30px 30px;
}
.bg-three{
    background-color: lightgrey;
    height:600px
}
section{
    height: 1000px;  
}
.link-button {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px 5px;
    background: slateblue;
    color: whitesmoke;
}
#btn-place{
    margin-left: 75%;
    padding-top: 70px ;
}
.first-area{
    float: left;
    width: 35%;
    margin-left: 5%;
    padding-left:5%;
    margin-bottom: 10%;
}
.first-area img{
    width: 85%;
    margin-right: 8%;
    padding-left:10%;       
}

.intro{
    text-align: center;
    padding: 4%;
     
}
.button{
    text-decoration: none;
    background-color: firebrick;
    font-weight: 900;
    font-size: 20px;
    color: whitesmoke;
    padding: 25px 15%;
    border-radius: 5px 5px;
    

}

.pic-frame{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    height: 30%;
    background-color:lightgrey;
    margin-left: 8%;
    
}
.pic-frame .pics img{
    width: 100%;
    float: left;
}
.pic-collection{
    display: flex;
    
}
